.large-container {
    background-color: #fff;
    border-radius: 4px;
    margin: 7% 14% 0 0;
    position: relative;
    width: 77%;
    float: left;
}
.entry-title:before{
    background: #ff6666;
}
article {
    text-align: left;
}

.post-img-wrap-large a img {
    max-width: 100%;
    width: 100%;
    height: auto;
    
    transform: scale(1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3 ease-out;
}

.listpost-content-wrap-large {
    position: absolute;
    bottom: 0px;
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0% 0%;
    min-height: 50px;
    width: 100%;
    padding: 15px 20px 0px 20px;
}
.large-container .list-post-top {
    min-height: 130px;
}

.list-post-top h1.entry-title {
    float: none;
    clear: none;
    margin-top: 0;
}


.entry-content {
    margin: 1em 0 0;
    line-height: 20px;
}
.large-container .entry-content p {
    text-align: justify;
    margin: 4px 20px 0px 0px;
}


.entry-footer-large {
    background: transparent;
  
    position: relative;
  
    float: left;
    width: 100%;
}
.entry-meta-large {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
}

/* bar search */

.sidebar-wrap.content-left-wrap {
    margin-top: 60px;
    padding-top: 0;
}
.sidebar-wrap {
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}


.col-md-9{
    /* max-width: 100%; */
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
/* .widget-area {
    float: left;
    width: 100%;
} */

.widget .widget-title {
    color: #404040;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    text-align: left;
    margin-top: 30px;
    padding-bottom: 5px;
    
}
.widget .widget-title:before {
    position: absolute;
    /* margin: auto; */
    content: "";
    width: 45%;
    height: 2px;
    background: #e96656;
    bottom: -9px;
    left: 0;
}
.widget_search form {
    position: relative;
}
.widget_search label {
    margin-bottom: 5px;
    width: 100%;
    position: relative;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

/* .widget_search input {
    width: 83%;
    padding: 12px 15% 12px 2%;
} */
.widget_search .search-submit {
    display: block;
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    /* background: url(images/search_icon.png) no-repeat center center; */
    /* text-indent: -99999999999px; */
}
.widget ul {
    margin: 0;
    padding: 0;
    display: block;
}

ul {
    list-style: disc;
}
/* .sidebar-wrapcol-md-3 content-left-wrap {
    flex: 0 0 25%;
 
} */
.content-left-wrap {
    padding-top: 60px;
}
