/* ._1xrAW9kKmTzY {
    padding: 80px 0 128px;
}
._3MgmTWI-dZYM {
    display: flex;
    align-items: center;
    max-width: 1152px;
    padding: 0 32px;
    margin: auto;
} */

/* ._3Gip2YdnG0Ws {
    width: 50%;
    padding-left: 40px;
}



._11DjyUIbREWO {
    display: flex;
    flex-direction: row;
}
._3gexunAKH78G {
    color: #fff;
    background-color: #0058ff;
} */
._2dRG4k0fhnnA {
    display: flex;
    align-items: center;
    width: 50%;
}

._2dRG4k0fhnnA ._142N4NSdSpnf:first-child {
    transform: scale(.84);
}
._2dRG4k0fhnnA ._142N4NSdSpnf {
    width: 44%;
    flex-shrink: 0;
    transform-origin: center left;
    border-radius: 9px;
    box-shadow: 0 5px 30px rgba(0,0,0,.7);
}
._142N4NSdSpnf {
    position: relative;
    overflow: hidden;
}
._1h-OEwBSav_q {
    display: block;
    position: relative;
}
._2POGQ2G1w3fD {
    position: absolute;
    top: 0;
    left: 0;
}
._2POGQ2G1w3fD, ._3MHKCtbdo-OV {
    display: block;
    width: 100%;
    height: 100%;
}
._1xrAW9kKmTzY {
    /* padding: 40px 0 80px; */
    color: #fff;
    background-color: #222;
}
._142N4NSdSpnf figcaption {
    position: absolute;
    bottom: 16px;
    left: 16px;
}
.iB3yKeqmJD3G._1Ylr82l3_87s, .iB3yKeqmJD3G._2YK_0OmGjy7k {
    font-size: 16px;
}
._2dRG4k0fhnnA ._142N4NSdSpnf:nth-child(2) {
    transform: scale(.92) translate(-44%);
}
._2POGQ2G1w3fD {
    position: absolute;
    top: 0;
    left: 0;
}
._2dRG4k0fhnnA ._142N4NSdSpnf:nth-child(3) {
    transform: translate(-74%);
}
._1h-OEwBSav_q {
    display: block;
    position: relative;
}